body {
    margin: 0;
}

header {
    background: #5CCCCC;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 3px solid rgb(211, 255, 255);
}

@font-face {
    font-family: 'MidnightDrive';
    src: url('../fonts/MidnightDrive.ttf') format('truetype');
}

@font-face {
    font-family: 'MotionPicture';
    src: url('../fonts/MotionPicture.ttf') format('truetype');
}

.header-logo {
    font-family: 'MidnightDrive', Helvetica, sans-serif;
    font-size: 800%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(53, 53, 53);
}

.header-sign {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-session {
    width: 250px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
}

.header-button {
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 150%;
    color: rgb(185, 255, 211);
    padding: 5px;
    border-radius: 20px;
    background: #5CCCCC;
    border: 2px solid rgb(144, 250, 183);
}

.header-button:hover{
    cursor: pointer;
    color: rgb(129, 253, 174);
    border: 2px solid rgb(118, 255, 168);
}

.header-button:focus {
    outline: none;
    color: rgb(64, 255, 134);
    border: 2px solid rgb(194, 255, 197);
}

.photo-place {
    display: flex;
    flex-wrap: wrap;
	align-content: flex-start;
    justify-content: space-around;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.post {
    width: 300px;
    height: 225px;
    margin: 1%;
    border-radius: 6px;
    border: 5px solid #5CCCCC;
}

.post:hover {
    cursor: pointer;
    background: rgb(129, 253, 174);
    border: 5px solid rgb(127, 236, 203);
}

.post:focus {
    outline: none;
}

.post:hover img {
    opacity: 0.7;
}

.post:focus img{
    opacity: 0.4;
}

#modal-signup {
    display: none;
    position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
    background-color: rgba(23, 63, 63, 0.6);
    -webkit-transition: 0.5s;
}

#modal-signin {
    display: none;
    position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
    background-color: rgba(23, 63, 63, 0.6);
    -webkit-transition: 0.5s;
}

#modal-resend-passwd {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(23, 63, 63, 0.6);
    -webkit-transition: 0.5s;
}

#modal-confirm-email {
    display: none;
    position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
    background-color: rgba(23, 63, 63, 0.6);
    -webkit-transition: 0.5s;
}

#modal-resend-email {
    display: none;
    position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
    background-color: rgba(23, 63, 63, 0.6);
    -webkit-transition: 0.5s;
}

.message-confirm {
    display: block;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 30px;
    background: #5CCCCC;
    border: 4px solid rgb(44, 209, 105);
    border-radius: 70px;
    font-family: Helvetica, sans-serif;
    font-size: 130%;
    text-align: center;
    color: rgb(44, 44, 44);
}

.modal-signup-content {
    display: block;
    width: 500px;
    background: #5CCCCC;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(44, 209, 105);
    border-radius: 20px;
}

.header-signup-modal {
    width: 100%;
    height: 80px;
    background: rgb(44, 209, 105);
    color: rgb(54, 54, 54);
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 400%;
    text-align: center;
    padding-top: 20px;
}

.form-signup-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

.input-signup-modal {
    height: 35px;
    font-family: Helvetica, sans-serif;
    font-size: 160%;
    padding-left: 20px; 
    padding-right: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 3px solid rgb(44, 209, 105);
    background: rgb(153, 230, 230);
    text-align: center;
    color: rgb(54, 54, 54);
}

.input-signup-modal::placeholder {
    text-align: center;
    font-family: 'MotionPicture', Helvetica, sans-serif;
}

.input-signup-modal:hover {
    border: 3px solid rgb(185, 255, 211);
}

.input-signup-modal:focus {
    outline: none;
    background: rgb(195, 238, 255);
    border: 3px solid rgb(185, 255, 211);
}
.input-signup-modal:focus::-webkit-input-placeholder {
    opacity: 0;
}

.submit-signup-modal {
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 150%;
    color: rgb(129, 253, 174);
    padding: 5px;
    border-radius: 20px;
    background: rgb(44, 209, 105);
    border-bottom: 3px solid rgb(144, 250, 183);
    border-right: 2px solid rgb(144, 250, 183);
    border-left: 2px solid rgb(144, 250, 183);
    border-top: none;
    margin-bottom: 40px;
}

.submit-signup-modal:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
    background: rgb(52, 245, 123);
    border-bottom: 3px solid rgb(80, 80, 80);
    border-right: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
}

.submit-signup-modal:focus {
    outline: none;
    border-bottom: 3px solid #5CCCCC;
    border-right: 2px solid #5CCCCC;
    border-left: 2px solid #5CCCCC;
}

.error-signup-modal {
    display: block;
    width: 380px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 110%;
    color: rgb(255, 50, 50);
    background: rgb(44, 209, 105);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.header-user-avatar {
    display: none;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(144, 250, 183);
    border-radius: 50%;
}

.header-user-avatar:hover {
    border: 2px solid rgb(54, 255, 128);
    cursor: pointer;
}

.header-user-name {
    display: none;
    margin-right: auto;
    margin-left: auto;
    font-family: 'MidnightDrive', Helvetica, sans-serif;
    font-size: 130%;
    color: rgb(187, 255, 212);
}

.header-user-name:hover {
    color: rgb(54, 255, 128);
    cursor: pointer;
}

#forgot-passwd-btn{
    display: block;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
