video {
    display: block;
    filter: url(#blackandwhite);
    width: 500px;
    height: 375px;
}

canvas {
    display: none;
    width: 500px;
    height: 375px;
}

.container {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 375px;
    border: 10px solid rgb(80, 80, 80);
    border-radius: 15px;
}

#publish-btns {
    display: none;
}

#main-btns {
    display: flex;
}

.container-btn {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.btn {
    width: 160px;
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 120%;
    color: rgb(129, 253, 174);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background: rgb(44, 209, 105);
    border-bottom: 8px solid rgb(144, 250, 183);
    border-right: 2px solid rgb(144, 250, 183);
    border-left: 2px solid rgb(144, 250, 183);
    border-top: none;
}

.btn:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
    background: rgb(52, 245, 123);
    border-bottom: 8px solid rgb(80, 80, 80);
    border-right: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
}

.btn:focus {
    outline: none;
    border-bottom: 8px solid #5CCCCC;
    border-right: 2px solid #5CCCCC;
    border-left: 2px solid #5CCCCC;
}

#canvas-area {
    display: none;
}