@font-face {
    font-family: 'MotionPicture';
    src: url('../fonts/MotionPicture.ttf') format('truetype');
}

video {
    display: block;
    width: 500px;
    height: 375px;
}

canvas {
    display: none;
    width: 500px;
    height: 375px;
}

.container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 375px;
    border: 10px solid rgb(80, 80, 80);
}

#publish-btns {
    display: none;
}

#main-btns {
    display: flex;
}

.container-btn {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.btn {
    width: 160px;
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 180%;
    color: rgb(129, 253, 174);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background: rgb(44, 209, 105);
    border-bottom: 8px solid rgb(144, 250, 183);
    border-right: 2px solid rgb(144, 250, 183);
    border-left: 2px solid rgb(144, 250, 183);
    border-top: none;
}

.btn:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
    background: rgb(52, 245, 123);
    border-bottom: 8px solid rgb(80, 80, 80);
    border-right: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
}

.btn:focus {
    outline: none;
    border-bottom: 8px solid #5CCCCC;
    border-right: 2px solid #5CCCCC;
    border-left: 2px solid #5CCCCC;
}

#canvas-area {
    display: none;
}

.filter-btns {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(80, 80, 80);
    border: 10px solid rgb(80, 80, 80);
    border-radius: 15px;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filter-button {
    width: 230px;
    margin-top: 10px;
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 160%;
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgb(80, 80, 80);
    color: rgb(44, 209, 105);
    border-radius: 15px;
    border: 2px solid rgb(44, 209, 105);
}

.filter-button:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
    border: 2px solid rgb(142, 255, 183);
    background: rgb(52, 245, 123);
}

.filter-button:focus {
    outline: none;
    background: #5CCCCC;
}

.area-top-bttns {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 100px;
}

.top-button {
    width: 140px;
    height: 40px;
    border: 8px solid rgb(80, 80, 80);
    background: rgb(80, 80, 80);
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'MotionPicture', Helvetica, sans-serif;
    font-size: 170%;
    color: rgb(44, 209, 105);
}

.top-button:hover {
    cursor: pointer;
    color: rgb(185, 255, 211);
}

.top-button:focus {
    outline: none;
    color: rgb(5, 252, 95);
}